@media (min-width: 481px) and (max-width: 768px) {
#headerToMenu{display:none !important;}
}
 
@media (min-width: 321px) and (max-width: 480px) {
#headerToMenu{display:none !important;}
}
 
@media (max-width: 320px) {
#headerToMenu{display:none !important;}
}