<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<location path="setting.php">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://agoffice.gravitasoft.com" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
<location path="license.txt">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://agoffice.gravitasoft.com" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
<location path="Desktop.ini">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://agoffice.gravitasoft.com" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
<location path=".htaccess">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://agoffice.gravitasoft.com" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
<location path="web.config">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://agoffice.gravitasoft.com" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

    <system.webServer>
		
		 <httpErrors errorMode="Custom">
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" subStatusCode="0" prefixLanguageFilePath="" path="/401" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/not_restricted/404.htm" responseMode="ExecuteURL" />
        </httpErrors>
         <httpProtocol>
		  <customHeaders>
                <remove name="Server" />
			<add name="X-Frame-Options" value="DENY" />
			<remove name="X-Powered-By-Plesk" />
			<remove name="X-Powered-By" />
			<remove name="Pragma" />
			<remove name="Vary" />
			<remove name="Expires" />
			<remove name="Content-Encoding" />
			<remove name="Content-Type" />
		  </customHeaders>
		</httpProtocol>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{R:1}" pattern="^(index\.php|assets|captcha|design|uploads|reports|csvfiles|robots\.txt|favicon\.ico|state\.csv|divisions\.csv|village\.csv|user_entries\.csv)" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
                </rule>
				
				
            </rules>
		
		<outboundRules>
			<rule name="replace server header" patternSyntax="Wildcard">
				<match serverVariable="RESPONSE_SERVER" pattern="*" />
				<action type="Rewrite" value="AG Haryana" />
			</rule>
		</outboundRules>
        </rewrite>
       
	
    </system.webServer>
<system.web>
	<machineKey validation="3DES" />
    <sessionState mode="InProc" cookieless="UseCookies" timeout="5" />

<pages viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <trace enabled="false" pageOutput="false" requestLimit="40" localOnly="true" />


	


		<httpCookies httpOnlyCookies="true" />
		<httpRuntime enableVersionHeader="false" />
        <customErrors>
            <error redirect="http://agoffice.gravitasoft.com" statusCode="401" />
        </customErrors>
        
	</system.web>
</configuration>
